*{
margin: 0;
}

table,td{
    border:1px solid rgb(0, 0, 0);
    margin-top: 6%;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(230, 245, 242);
  }
  th{
    background-color:rgb(235, 240, 245);
    text-align: center;
    border: 1px solid black;
  }

img{
  width: 50px;
  height: 40px;
}
input{
  margin-top: 2%;
  margin-left: 25%;
  margin-bottom: 2%;
  width: 27%;
  height: 4%;
  position: absolute;
}
button{
  width: 8%;
  height: 5%;
  position: absolute;
  margin-top: 2%;
  margin-left: 55%;
}